# Fichiers RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.log
*.aux
*.toc

# Fichiers temporaires Office
~$*
/.quarto/

# Ancienne sortie Quarto (on publie désormais via /docs)
/_book/
